<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}EAT TIME!{{else}}NOT EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
